.wrapper-button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.main-button__one {
    background-color: rgb(231, 75, 60);
}

.main-button__two {
    background-color: rgb(246, 98, 160);
}

.main-button__one, .main-button__two {
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}