.modal {
  background-color: rgb(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;

  &__wrapper-one {
    background-color: rgb(231, 75, 60);
  }
  &__wrapper-two {
    background-color: rgb(246, 98, 160);
  }
}

.desc-one,
.desc-two {
  padding: 20px;
  color: rgb(255, 255, 255);
  width: 300px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  background-color: rgb(207, 55, 30);
  padding: 20px;
  justify-content: space-around;

  &__cross {
    cursor: pointer;
  }
}

.header-one,
.header-two {
  color: rgb(255, 255, 255);
  margin: 10px 60px;
}

.button-wraper {
  display: flex;
  justify-content: space-evenly;
}

.btn-one__first,
.btn-two__second {
  width: 100px;
  height: 30px;
}

.btn-one__first {
  background-color: rgb(181, 28, 28);
  color: rgb(255, 255, 255);
}

.btn-two__second {
  background-color: rgb(171, 53, 132);
  color: rgb(255, 255, 255);
}

.btn-one__first,
.btn-two__second {
  border: none;
  border-radius: 5px;
  margin: 10px 0 10px;
}

